In [1]:
import pandas as pd

In [2]:
climate_catastrophes_data = pd.read_excel("data/climate_catastrophes/emdat_catastrophes.xlsx", converters={
    "Start Month": int,
    "End Month": int,
    "Start Day": int,
    "End Day": int,
    "Total Deaths": int,
    "Total Affected": int
})

In [41]:
data_inflation = pd.read_csv("data/economic/inflation_somalia_cleaned.csv")

In [12]:
climate_catastrophes_data_subset = climate_catastrophes_data[['Country', 'Start Year', 'Start Month', 'End Year', 'End Month',  'Disaster Type', 'Total Affected']]

In [14]:
climate_catastrophes_data_subset["End Year"] = climate_catastrophes_data_subset["End Year"].fillna(climate_catastrophes_data_subset["Start Year"])
climate_catastrophes_data_subset["End Month"] = climate_catastrophes_data_subset["End Month"].fillna(climate_catastrophes_data_subset["Start Month"])

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_12884\1635775480.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  climate_catastrophes_data_subset["End Year"] = climate_catastrophes_data_subset["End Year"].fillna(climate_catastrophes_data_subset["Start Year"])
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_12884\1635775480.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  climate_catastrophes_data_subset["End Month"] = climate_catastrophes_data_subset["End Month"].fillna(climate_catastrophes_data_subset["Start Month"])
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_12884\1635775480.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  climate_catastrophes_data_subset["End Month"] = climate_catastrophes_data_subset["End Month"].fillna(climate_catastrophes_data_subset["Start Month"])

In [15]:
climate_catastrophes_data_subset

,Country,Start Year,Start Month,End Year,End Month,Disaster Type,Total Affected
0,Somalia,2025,1,2025,1,Drought,4400000
1,Somalia,2023,12,2024,2,Epidemic,4956
2,Somalia,2022,5,2022,5,Flood,4416
3,Somalia,2023,3,2023,3,Flood,100003
4,Somalia,2024,4,2024,5,Flood,226000
5,Somalia,2023,4,2023,5,Flood,468000
6,Somalia,2023,10,2023,10,Flood,278000
7,Somalia,2023,9,2023,11,Flood,2480000
8,Somalia,2023,1,2023,4,Epidemic,3428
9,Somalia,2022,4,2022,4,Fire (Miscellaneous),12028

In [16]:
expanded_rows = []
for _, row in climate_catastrophes_data_subset.iterrows():
    for year in range(row["Start Year"], row["End Year"] + 1):  # Iterate through years
        start_month = row["Start Month"] if year == row["Start Year"] else 1
        end_month = row["End Month"] if year == row["End Year"] else 12
        
        for m in range(start_month, end_month + 1):
            new_row = row.copy()
            new_row["month"] = m
            new_row["year"] = year  # Assign the correct year for each row
            expanded_rows.append(new_row)

In [17]:
climate_catastrophes_data = pd.DataFrame(expanded_rows)

In [24]:
#read all the files in folder data/migration, and concatenate them into one dataframe

import os
import glob

path = 'data/migration'
all_files = glob.glob(os.path.join(path, "*.xlsx"))
df_from_each_file = (pd.read_excel(f) for f in all_files)
migration_data = pd.concat(df_from_each_file, ignore_index=True)

In [25]:
migration_data['date'] = pd.to_datetime(migration_data['Date of Assessment'])
migration_data['month'] = migration_data['date'].dt.month
migration_data['year'] = migration_data['date'].dt.year

In [33]:
migration_data_grouped = migration_data[['year','month','Total new arrivals since last week']].groupby(['year','month']).sum().reset_index()

In [36]:
df = pd.merge(migration_data_grouped, climate_catastrophes_data, on=['year','month'], how='left')

In [ ]:
df = pd.merge(df, data_inflation, on=['year','month'], how = 'left')

,year,month,Total new arrivals since last week,Country,Start Year,Start Month,End Year,End Month,Disaster Type,Total Affected,country,inflation
0,2023,10,41181,Somalia,2023.0,10.0,2023.0,10.0,Flood,278000.0,Somalia,143.59
1,2023,10,41181,Somalia,2023.0,9.0,2023.0,11.0,Flood,2480000.0,Somalia,143.59
2,2023,11,92195,Somalia,2023.0,9.0,2023.0,11.0,Flood,2480000.0,Somalia,144.92
3,2023,12,51922,Somalia,2023.0,12.0,2024.0,2.0,Epidemic,4956.0,Somalia,143.57
4,2024,1,78075,Somalia,2023.0,12.0,2024.0,2.0,Epidemic,4956.0,Somalia,142.28
5,2024,2,7700,Somalia,2023.0,12.0,2024.0,2.0,Epidemic,4956.0,Somalia,142.14
6,2024,3,1744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia,145.34
7,2024,4,21967,Somalia,2024.0,4.0,2024.0,5.0,Flood,226000.0,Somalia,148.42
8,2024,5,34463,Somalia,2024.0,4.0,2024.0,5.0,Flood,226000.0,Somalia,150.64
9,2024,6,34682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia,151.35
10,2024,7,47440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia,152.92
11,2024,8,40314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia,151.04
12,2024,9,42759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia,151.39
13,2024,10,7531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia,151.96
14,2024,11,3521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia,152.46
15,2024,12,3537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somalia,151.57
16,2025,2,47430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2025,3,13831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN